# ZOHO ANALYTICS ID AND SECRET
ZOHO_ANALYTICS_CLIENT_ID = ""
ZOHO_ANALYTICS_CLIENT_SECRET = ""

# REFRESH TOKEN
ZOHO_ANALYTICS_REFRESH_TOKEN = ""

# ZOHO AUTH URL
ZOHO_ACCOUNT_BASE_URL = ""
ZOHO_AUTH_ANALYTICS_URL = ""

# WORKSPACE ID
ZOHO_ANALYTICS_WORKSPACE_ID = ""

# ORGANIZATION ID
ZOHO_ANALYTICS_ORG_ID = ""

# GEMINI
GEMINI_API_KEY = ""